body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
    background-image: url(https://images2.alphacoders.com/100/1008472.png);
    /* https://www.xtrafondos.com/wallpapers/naruto-en-juego-jump-force-3604.jpg */
}

header {
    display: flex;
    flex-direction: row;
    grid-area: header;
    background-color: rgb(0%, 60%, 70%);
    color: whitesmoke;
    justify-content: center;
    font-family: cursive;
    font-style: italic;
    mix-blend-mode: hard-light;
    border: 2px solid rgb(0%, 60%, 70%);
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


nav {
    flex-direction: row;
    padding: 10% 15% 0 15%;
    grid-area: nav;
    background: rgb(0%, 60%, 70%);
    color: white;
    font-style: italic;
}


main {
    grid-area: main;
    padding: 20px 0 20px 0;
}

.productos, .productos2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-style: italic;
}

.productos img {
    border-radius: 20%;
    border: 5px solid rgb(0%, 60%, 70%);
    filter: grayscale(10%);
}

.productos2 img {
    border-radius: 20%;
    border: 5px solid rgb(0%, 60%, 70%);
    filter: grayscale(10%);
}

p, h2, h3{
    text-align: center;
}

button:hover {
    background-color: rgb(0%, 60%, 70%);
}

.precio {
    color: #efc234;
}


footer {
    grid-area: footer;
    background: rgb(9, 116, 135);
    color: white;
    padding: 10px 0 0 0;
    text-align: center;
    mix-blend-mode: hard-light;
    border: 2px solid rgb(0%, 60%, 70%);
    font-style: italic;
}

#icono1 {
    padding-right: 2%;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "search"
        "main"
        "footer"
}

.search {
    grid-area: search;
    background-color: #434038;
    text-align: center;
    color: rgb(193, 133, 133);
    padding: 0.2em;
    font-size: 12px;
    font-style: italic;
}

.search select {
    height: 2rem;
    width: 100%;
    margin: 0px;
}

.pages{
    grid-area: pages;
}

.pagination {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding-right: 2em;
}

.pageItem {
    border: solid 1px rgb(0%, 60%, 70%);
    width: auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: #e4dab9;
    opacity: 80%;
}

.pageItem:hover {
    background-color: rgb(0%, 60%, 70%);
}

.pageLink {
    text-decoration: none;
    color: black;
}

img{
    transition: all 300ms;
    position: relative;
}

img:hover{
    transform: scale(1.5);
}

@media (min-width: 576px) {
    .grid-container{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-areas:
        "header search"
        "nav main"
        "nav main"
        "footer pages";
    }
    
    nav {
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
        
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    header{
        display: flex;
        flex-direction: column;
        display: flex;
        font-size: 50%;
    
    }
    
    #logo{
        display: flex;
        justify-content: center;
        padding-top: 5%;
    }

    #burger{
        display: none;
    }

    .productos, .productos2{
        padding-bottom: 5%;
    }

    .search{
        padding: 0;
    }

    footer{
        font-size: 80%;
    }
}

@media (max-width: 576px) {
    .categorias {
        display: none;
    }
    .productos2{
        display: none;
    }
    img:hover{
        transform: scale(1.1);
    }

    nav{
        display: none;
    }
}

@media (max-width: 992px) {
    img{
        height: 80%;
        width: 80%;
    }
}